In [23]:
csb = {"이름은":"홍길동", "나이는":20,"키":168}

class1_4 = {"이름":["홍길동","김철수","김영희"], 
            "나이": [20,21,22], 
            "키": [168,177,203]}

In [24]:
class1_4["이름"]

['홍길동', '김철수', '김영희']

In [7]:
class1_4["발 사이즈"] = [290,275,240]
class1_4

{'이름': ['홍길동', '감철수', '치영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 203],
 '발 사이즈': [290, 275, 240]}

In [10]:
# del class1_4["발 사이즈"]
class1_4

{'이름': ['홍길동', '감철수', '치영희'], '나이': [20, 21, 22], '키': [168, 177, 203]}

In [11]:
class1_4.keys()

dict_keys(['이름', '나이', '키'])

In [12]:
class1_4.values()

dict_values([['홍길동', '감철수', '치영희'], [20, 21, 22], [168, 177, 203]])

In [14]:
for i in class1_4:
    print(i)

이름
나이
키

In [15]:
"홍길동" in class1_4

False

### class1_4의 "이름" key에 할당된 value들을 전부 성을 뺀 이름들로 출력하고 싶습니다.
- 홍길동>길동
- 김철수>철수
- 김영희>영희

In [26]:
for i in class1_4["이름"]:
    print(i[1:])

길동
철수
영희

In [27]:
class1_4["이름"] = ["길동", "철수","영희"]
class1_4

{'이름': ['길동', '철수', '영희'], '나이': [20, 21, 22], '키': [168, 177, 203]}

In [30]:
new_name = ["이름"]:
    for i in class1_4["이름"]
    new_name.append(i[1:])
class1_4["이름"] = new_name
class1_4

SyntaxError: invalid syntax (954306730.py, line 1)

In [31]:
jegop = [i**2 for i in range(10)]
jegop

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- 여러 학생의 성적 점수가 다음과 같은 Dictionary로 구성되어 있다.

In [1]:
scores = {'홍길동':{'수학':99,'영어':80,'국어':75},
          '김미정':{'영어':67,'국어':87,'수학':55},
          '정수진':{'수학':67,'국어':41,'영어':23}}

- 이 때, 학생들의 평균을 저장하는 새로운 항목늘 추가하고 싶다.
- scores에 학생들의 수학,영어,국어 평균 성적을 기록한 "성적" 정보를 추가해주세요.

In [37]:
sj = {"이름":["홍길동","김미정","정수진"],
     "수학":[99,55,67],
     "영어":[80,67,23],
     "국어":[75,87,41]}

In [ ]:
# for i in sj["수학"]:
#     print(i)
# ave = 
# sj["성적"] =

In [38]:
scores["홍길동"]["수학"]

99

In [6]:
math=0
eng=0
kor=0
for i in scores:
    math= math+(scores[i]["수학"])
    eng= eng+(scores[i]["영어"])
    kor= kor+(scores[i]["국어"])
    
scores["평균 점수"] = {"국어":round(kor/len(scores)), "영어":eng/len(scores),"수학":math/len(scores)}
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '평균 점수': {'국어': 68, '영어': 56.666666666666664, '수학': 73.66666666666667}}

In [7]:
dir=56.6666666666

In [8]:
round(dir)

57

In [9]:
import math

In [10]:
math.floor(dir)

56

In [11]:
math.ceil(dir)

57

In [12]:
round(dir, 2)

56.67

새로운 아이디 :TTTTTT

'tttttt'