while 명제:
    명제가 참인 한 영원히 반복하는 코드

In [2]:
n = 0
while n < 3:
    print(1)
    n = n + 1

1
1
1

### while문을 사용해서 "Hello Python"을 10번 출력합니다.

In [3]:
n = 0
while n < 10:
    print ("Hello Python")
    n = n + 1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

In [4]:
while 1 < 2:
    print(1)
    break

1

In [1]:
n = 1
while True:
    print(n)
    if n < 10:
        n = n + 1
    else:
        break

1
2
3
4
5
6
7
8
9
10

- 두개의 정수를 입력받습니다.
- 입력 받은 두 정수의 합을 출력합니다.
- 두개의 정수로 0과 0을 입력 받은 경우, 반복문에서 이탈합니다.

In [4]:
while True:
    
    jeongsu1 = int(input("첫번째 정수 입력: "))
    jeongsu2 = int(input("두번째 정수 입력: "))
    
    if jeongsu1 != 0 and jeongsu2 != 0:
         print(jeongsu1 + jeongsu2)
    else:
        break

첫번째 정수 입력: 2
두번째 정수 입력: 23
25
첫번째 정수 입력: 3
두번째 정수 입력: 5
8
첫번째 정수 입력: 0
두번째 정수 입력: 0

### 다이어트 관리 프로그램
 - 목표 몸무게를 입력합니다.
 - 현재 몸무게를 입력합니다.
 - 매 주 감량한 몸무게를 입력한 뒤, 현재 몸무게가 목표 몸무게보다, 적어지면, 프로그램을 종료합니다.
 - 출력 값은 "축하합니다! _____주 걸렸습니다." 형태입니다.

In [19]:
goal = int(input("목표 몸무게 입력: ")) 
weight = int(input("현재 몸무게 입력: "))
n = 0

while weight > goal:
    lost_weight = int(input("감량한 몸무게를 적어주세요: "))
    n = n + 1
    weight = weight - lost_weight
print("축하합니다! {}주 걸렸습니다.".format(n))

목표 몸무게 입력: 80
현재 몸무게 입력: 100
감량한 몸무게를 적어주세요: 5
감량한 몸무게를 적어주세요: 5
감량한 몸무게를 적어주세요: 9
감량한 몸무게를 적어주세요: 2
축하합니다! 4주 걸렸습니다.

In [20]:
r = range(10)
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
food_list = ["초밥", "짜장면", "짬뽕"]
for i in food_list:
    print(i + "은 맛있어!")

초밥은 맛있어!
짜장면은 맛있어!
짬뽕은 맛있어!

In [23]:
n = 0
for i in range(100):
    n = n + i + 1
print(n)

5050

### 1에서 100 사이의 숫자 중 3의 배수인 값들의 합을 구하시오.
 - 정답 1683

In [29]:
result = 0
for i in range(1, 101):
    if i%3 == 0:
        result = result + i
    else:
        pass
result

1683

### 1에서 100 사이의 숫자 중 소수의 합을 구하시오.

- 정답 : 1060

In [30]:
result = 0
for i in range(2, 101):
    nmj = []
    for w in range(2, i):
        nmj.append(i%w)
    if 0 not in nmj:
        result = result + i
result

1060

### 구구단 출력

 - 3단부터 19단까지 출력해주세요.
 - 출력은 "2 x 2 = 4" 형식입니다.

In [39]:
for n in range (3, 20):
    for i in range (1, 20):
        result = n * i
        print(f"{n} x {i} = {result}")
    print("------------")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114
------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190
------------
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
11 x 13 = 143
11 x 14 = 154
11 x 15 = 165
11 x 16 = 176
11 x 17 = 187
11 x 18 = 198
11 x 19 = 209
------------
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180
12 x 16 = 192
12 x 17 = 204
12 x 18 = 216
12 x 19 = 228
------------
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
13 x 11 = 143
13 x 12 = 156
13 x 13 = 169
13 x 14 = 182
13 x 15 = 195
13 x 16 = 208
13 x 17 = 221
13 x 18 = 234
13 x 19 = 247
------------
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
14 x 11 = 154
14 x 12 = 168
14 x 13 = 182
14 x 14 = 196
14 x 15 = 210
14 x 16 = 224
14 x 17 = 238
14 x 18 = 252
14 x 19 = 266
------------
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285
------------
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160
16 x 11 = 176
16 x 12 = 192
16 x 13 = 208
16 x 14 = 224
16 x 15 = 240
16 x 16 = 256
16 x 17 = 272
16 x 18 = 288
16 x 19 = 304
------------
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
17 x 11 = 187
17 x 12 = 204
17 x 13 = 221
17 x 14 = 238
17 x 15 = 255
17 x 16 = 272
17 x 17 = 289
17 x 18 = 306
17 x 19 = 323
------------
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
18 x 11 = 198
18 x 12 = 216
18 x 13 = 234
18 x 14 = 252
18 x 15 = 270
18 x 16 = 288
18 x 17 = 306
18 x 18 = 324
18 x 19 = 342
------------
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
19 x 11 = 209
19 x 12 = 228
19 x 13 = 247
19 x 14 = 266
19 x 15 = 285
19 x 16 = 304
19 x 17 = 323
19 x 18 = 342
19 x 19 = 361
------------

### 업다운 게임

- 컴퓨터는 1부터 100 사이의 임의의 자연수를 생각합니다.
- 플레이어는 1부터 100 사이의 임의의 자연수를 input으로 입력합니다.
- 컴퓨터가 생각한 수가 플레이어가 입력한 수보다 크다면 Up, 작다면 Down을 출력합니다.
- 플레이어가 입력한 수가 컴퓨터가 생각한 수와 일치하면 몇 번만에 맞췄는지 출력하고 프로그램을 종료합니다.

In [49]:
import random
num = random.randint(1, 100)

while True:
    a = int(input("숫자를 입력하세요: "))

    if num > a:
        print("Up")
    elif num < a:
        print("Down")
        n = n + 1
    else:
        print ("축하합니다! {}번 만에 정답을 맞췄습니다.". format(n))
        break

숫자를 입력하세요: 1
Up
숫자를 입력하세요: 9
Up
숫자를 입력하세요: 8
Up
숫자를 입력하세요: 76
Down
숫자를 입력하세요: 52
Down
숫자를 입력하세요: 36
Up
숫자를 입력하세요: 45
Down
숫자를 입력하세요: 42
Down
숫자를 입력하세요: 39
축하합니다! 27번 만에 정답을 맞췄습니다.